@tailwind base;
@tailwind components;
@tailwind utilities;

.qty-container {
    display: flex;
    align-items: center;
}

.qty-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

#qty {
    width: 50px;
    height: 30px;
    text-align: center;
    margin: 0 5px;
}

.imgspace {
    display: inline-block
}

.bgBanner {
    background-image: url(./dist/bg.png);
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 260px;
    padding-bottom: 210px;
}



body h1 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

p {
    font-family: "Josefin Slab", serif;

}



.amzp {
    font-family: "Josefin Slab", serif;
    font-weight: 800;
}